In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('original-data/original_data.csv')

In [27]:
original_data.head()

         PHRASE                              FULL_TEXT
0          wifi    What's the WiFi log in and password
1          wifi    What's the WiFi log in and password
2      hospital                       Nearest hospital
3      hospital                       Nearest hospital
4  housekeeping  Why didn't housekeeping clean my room

In [28]:
original_data.shape

(92965, 2)

In [29]:
original_data['PHRASE'].unique()

array(['wifi', 'hospital', 'housekeeping', 'checkout time',
       'checkin time', 'early checkin', 'late checkout', 'check-in',
       'check out', 'express checkin', 'amenities',
       'complimentary breakfast', 'breakfast', 'hours of operation',
       'order food', 'location', 'business center', 'meeting room',
       'printer', 'fax', 'pool', 'jaccuzi', 'parking', 'free parking',
       'valet parking', 'shuttle service', 'spa', 'gym', 'near by', 'bar',
       'shopping', 'coffee shop', 'attractions', 'restaurant',
       'ice machine', 'gift shop', 'luggage storage', 'nanny service',
       'laundry', 'dry cleaning', 'coffee', 'tour packages', 'pet policy',
       'smoking', 'drinking water', 'extra towels', 'extra pillow',
       'safety deposit box', 'hair dryer', 'toothpaste', 'toothbrush',
       'wakeup call', 'tv remote', 'iron board', 'rollaway bed', 'crib',
       'microwave', 'charging station', 'refrigerator',
       'air conditioning', 'room upgrade', 'alarm clock', 'atm',
       'charger', 'program', 'phone', 'body wash', 'discount',
       'breakfast time', 'cable', 'conditioner', 'shampoo',
       'channel lineup', 'toilet paper', 'plunger', 'room service',
       'extend stay', 'blankets', 'cancellation policy', 'lost and found',
       'cancel reservation', 'bellman', 'dress code', 'event room',
       'rewards program', 'tea maker', 'reservations', 'not working',
       'bottle service', 'corona', 'shelter-in-place', 'distance', 'sick',
       'face masks', 'emergency', 'noisy', 'cover charge',
       'organize event', 'tickets', 'reserve a table',
       'accessible parking', 'medical', 'sauna', 'not clean', 'beer',
       'order drinks', 'room size', 'daycare', 'not hot', 'guet list',
       'change room', 'onsite doctor', 'medicine', 'new paper', 'flu',
       'additional parking', 'guest pass', 'table & chair', 'rent',
       'room cleaning', 'wine', 'billing', 'vip price', 'room rates',
       'reservation price'], dtype=object)

In [5]:
export_word_cloud = pd.read_csv('original-data/export_word_cloud.csv', sep=';')

In [6]:
training_phrases = pd.read_csv('original-data/training-phrases.csv')

In [9]:
export_word_cloud.drop('TYPE', axis=1, inplace=True)

In [10]:
export_word_cloud.head()

         PHRASE                              FULL_TEXT
0          wifi    What's the WiFi log in and password
1          wifi    What's the WiFi log in and password
2      hospital                       Nearest hospital
3      hospital                       Nearest hospital
4  housekeeping  Why didn't housekeeping clean my room

In [15]:
training_phrases = training_phrases[['PHRASE', 'FULL_TEXT']]

In [17]:
reviews = pd.concat([training_phrases, original_data, export_word_cloud])

In [21]:
reviews[reviews['PHRASE'].isnull()]

     PHRASE FULL_TEXT
3334    NaN       NaN
3336    NaN       NaN
3338    NaN       NaN

In [22]:
reviews[reviews['FULL_TEXT'].isnull()]

          PHRASE FULL_TEXT
3334         NaN       NaN
3336         NaN       NaN
3338         NaN       NaN
48778  check out       NaN
79037       wifi       NaN

In [24]:
reviews.dropna(inplace=True)

In [25]:
reviews[reviews['FULL_TEXT'].isnull()]

Empty DataFrame
Columns: [PHRASE, FULL_TEXT]
Index: []

In [26]:
reviews.to_csv('merged-data/merged-data.csv')