In [1]:
import pandas as pd

In [2]:
original_data = pd.read_csv('original-data/original_data.csv')

In [5]:
export_word_cloud = pd.read_csv('original-data/export_word_cloud.csv', sep=';')

In [6]:
training_phrases = pd.read_csv('original-data/training-phrases.csv')

In [9]:
export_word_cloud.drop('TYPE', axis=1, inplace=True)

In [10]:
export_word_cloud.head()

         PHRASE                              FULL_TEXT
0          wifi    What's the WiFi log in and password
1          wifi    What's the WiFi log in and password
2      hospital                       Nearest hospital
3      hospital                       Nearest hospital
4  housekeeping  Why didn't housekeeping clean my room

In [15]:
training_phrases = training_phrases[['PHRASE', 'FULL_TEXT']]

In [17]:
reviews = pd.concat([training_phrases, original_data, export_word_cloud])

In [21]:
reviews[reviews['PHRASE'].isnull()]

     PHRASE FULL_TEXT
3334    NaN       NaN
3336    NaN       NaN
3338    NaN       NaN

In [22]:
reviews[reviews['FULL_TEXT'].isnull()]

          PHRASE FULL_TEXT
3334         NaN       NaN
3336         NaN       NaN
3338         NaN       NaN
48778  check out       NaN
79037       wifi       NaN

In [24]:
reviews.dropna(inplace=True)

In [25]:
reviews[reviews['FULL_TEXT'].isnull()]

Empty DataFrame
Columns: [PHRASE, FULL_TEXT]
Index: []

In [26]:
reviews.to_csv('merged-data/merged-data.csv')